<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>App</title>
</head>
<body>
<ul>
  {{#each messages}}
    <li>
      {{#if this.author}}
        {{this.author}}
      {{else}}
        Имени нет
      {{/if}}
      <h3>{{this.message}}</h3>
    </li>
  {{/each}}

</ul>

</body>
</html>